---
import { documentToHtmlString } from "@contentful/rich-text-html-renderer";
import nb from "date-fns/locale/nb/index.js";
import HandbookNav from "../../../../components/HandbookNav.astro";
import MainLayout from "../../../../components/MainLayout.astro";
import {
  getAllHandbooks,
  getArticleBySlug,
  getHandbookBySlug,
} from "../../../../lib/data";
import { notEmpty } from "../../../../lib/notEmpty";
import { parseJSON, format } from "date-fns";
import Container from "../../../../components/Container.astro";

export const getStaticPaths = async () => {
  const handbooks = await getAllHandbooks();

  return handbooks.flatMap((handbook) =>
    handbook.fields.content.filter(notEmpty).map((article) => ({
      params: {
        handbookSlug: handbook.fields.slug,
        articleSlug: article.fields.slug,
      },
    }))
  );
};

const { articleSlug, handbookSlug } = Astro.params;

const handbook = await getHandbookBySlug(handbookSlug);
const article = await getArticleBySlug(articleSlug);

if (!article || !handbook) {
  return new Response(null, { status: 404 });
}
---

<MainLayout title={article.fields.title}>
  <Container>
    <div
      class="w-full grid grid-cols-1 lg:grid-cols-[1fr_22rem] gap-6 items-start mx-2"
    >
      <div>
        <h1 class="font-medium text-4xl">
          {article.fields.title}
        </h1>
        <hr class="my-8" />
        <div class="prose max-sm:prose-sm max-w-none print:prose-sm">
          <div
            set:html={documentToHtmlString(article.fields.body, {
              renderNode: {
                "embedded-asset-block": (node) => {
                  const { file, title } = node.data.target.fields;
                  const mimeType = file.contentType;
                  const mimeGroup = mimeType.split("/")[0];

                  if (mimeGroup === "image") {
                    return `
                    <a href="${file.url}" target="_blank">
                      <img
                        style="display: block; width: 100%; height: auto;"
                        src="${file.url}?w=1200&fm=webp"
                        alt="${title}"
                      />
                    </a>
                  `;
                  }

                  return `
                  <a href="${file.url}">Last ned ${title} (${mimeType})</a>
                `;
                },
              },
            })}
          />
        </div>
        <hr class="my-8" />
        <div class="mt-8 text-sm text-gray-500">
          Sist oppdatert: {
            format(parseJSON(article.sys.updatedAt), "d. MMMM yyyy", {
              locale: nb,
            })
          }
        </div>
      </div>
      <div class="rounded-xl border border-stone-200 px-8 py-4">
        <h2
          class="font-bold font-montserrat text-xs text-gray-500 uppercase mt-4 mb-8"
        >
          {handbook.fields.name}
        </h2>
        <HandbookNav />
      </div>
    </div>
  </Container>
</MainLayout>
