---
import type { Asset } from "contentful";

type Props = {
  asset: Asset;
  width: number;
  aspectRatio: [number, number];
};

const { asset, width, aspectRatio } = Astro.props;

const ratio = aspectRatio[0] / aspectRatio[1];
---

<div class={`w-full aspect-[${aspectRatio[0]}/${aspectRatio[1]}]`}>
  <img
    src={`${asset.fields.file.url}?w=${width}&h=${Math.round(
      width / ratio
    )}&q=70&fit=fill&fm=webp`}
    alt={asset.fields.title}
    style="display: block; width: 100%; height: auto;"
  />
</div>
