---
import { format, parseISO } from "date-fns";
import { getAllCalendarEvents } from "../lib/data";
import nb from "date-fns/locale/nb/index.js";
import { toLongDate } from "../lib/dates";

const events = await getAllCalendarEvents();

const months = [
  "jan",
  "feb",
  "mar",
  "apr",
  "mai",
  "jun",
  "jul",
  "aug",
  "sep",
  "okt",
  "nov",
  "des",
];
---

<div class="rounded-xl border border-stone-200 px-6 md:px-8 py-2 md:py-4">
  <h2 class="font-bold font-montserrat text-xs text-gray-500 uppercase mt-4">
    Kalender
  </h2>
  <div class="divide-y">
    {
      events.map((event) => {
        const date = parseISO(event.fields.date);
        return (
          <div class="flex items-start gap-4 py-4">
            <div class="flex-shrink-0 w-12 h-12 rounded-xl overflow-hidden relative bg-sky-700 text-white font-montserrat flex flex-col items-center justify-center leading-4">
              <span>{format(date, "d", { locale: nb })}</span>
              <span>{months[date.getMonth()]}</span>
            </div>
            <div>
              <h2 class="font-bold font-montserrat leading-5">
                {event.fields.title}
              </h2>
              {event.fields.description && (
                <p class="text-sm text-gray-500">{event.fields.description}</p>
              )}
              <time class="text-gray-500 text-xs" datetime={event.fields.date}>
                {toLongDate(event.fields.date)}
              </time>
            </div>
          </div>
        );
      })
    }
  </div>
</div>
