---
import { getLatestNewsArticles } from "../lib/data";
import NewsArticleCard from "./NewsArticleCard.astro";

const newsArticles = await getLatestNewsArticles();
---

<div>
  <h2 class="mb-4 font-medium text-gray-700">Nyheter</h2>
  <div class="grid gap-4 grid-cols-[repeat(auto-fit,minmax(280px,1fr))]">
    {
      newsArticles.map((article) => (
        <NewsArticleCard
          title={article.fields.title}
          image={article.fields.image}
          date={article.fields.date}
          slug={article.fields.slug}
        />
      ))
    }
    {
      newsArticles.map((article) => (
        <NewsArticleCard
          title={article.fields.title}
          image={article.fields.image}
          date={article.fields.date}
          slug={article.fields.slug}
        />
      ))
    }
    {
      newsArticles.map((article) => (
        <NewsArticleCard
          title={article.fields.title}
          image={article.fields.image}
          date={article.fields.date}
          slug={article.fields.slug}
        />
      ))
    }
    {
      newsArticles.map((article) => (
        <NewsArticleCard
          title={article.fields.title}
          image={article.fields.image}
          date={article.fields.date}
          slug={article.fields.slug}
        />
      ))
    }
  </div>
</div>
