---
import { getFrontpage } from "../lib/data";
import { toShortDateWithWeekday } from "../lib/dates";

const frontpage = await getFrontpage();
---

<div class="rounded-xl border border-stone-200 px-8 py-4">
  <h2 class="font-bold font-montserrat text-xs text-gray-500 uppercase mt-4">
    Nyttig informasjon
  </h2>
  <div class="grid grid-cols-2 my-8 gap-8">
    <div class="col-span-2">
      <h2 class="text-xs text-gray-500">E-post</h2>
      <p class="font-bold">
        <a
          href={`mailto:${frontpage.email}`}
          class="hover:text-rose-600 transition-colors duration-700"
          >{frontpage.email}</a
        >
      </p>
    </div>
    <div class="col-span-2">
      <h2 class="text-xs text-gray-500">Facebook-gruppe</h2>
      <p class="font-bold">
        <a
          href={frontpage.fbGroup}
          target="_blank"
          class="hover:text-rose-600 transition-colors duration-700"
          >{frontpage.fbGroup.replace("https://www.facebook", "fb")}</a
        >
      </p>
    </div>
    <div>
      <h2 class="text-xs text-gray-500">Felleskostnad</h2>
      <p class="font-bold">2 190,-/mnd</p>
    </div>
    <div>
      <h2 class="text-xs text-gray-500">Antall hus</h2>
      <p class="font-bold">43</p>
    </div>
    <div>
      <h2 class="text-xs text-gray-500">Restavfall (tømming)</h2>
      <p class="font-bold">
        {toShortDateWithWeekday(frontpage.pickupDateRest)}
      </p>
    </div>
    <div>
      <h2 class="text-xs text-gray-500">Papir og papp (tømming)</h2>
      <p class="font-bold">
        {toShortDateWithWeekday(frontpage.pickupDatePaper)}
      </p>
    </div>
  </div>
</div>
